div {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 30px;
}

.red {
  border: 3px solid red;
  left: 30px;
}

.blue {
  border: 3px solid blue;
  left: 145px;
}

.green {
  border: 3px solid green;
  left: 260px;
}
